@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide number input spinners for POS fields */
input[type="number"].no-spinner::-webkit-inner-spin-button,
input[type="number"].no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"].no-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}
